<% provide(:title, 'Dan Graham Domain Name Generator') %>

<h1>Dan Graham Domain</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Dan Graham's Next Domain</h3>
      </div>
      <div class="panel-content">
        <%= dan_domain %>
      </div>
    </div>
  </div>
</div>
