<% provide(:title, "Kanye West Drops New Album - Listen on Spotify") %>
<div style="width:320px"><script type="text/javascript" src="http://static.urx.io.s3.amazonaws.com/units/web/24a3aa12-3b4a-4f33-a284-89bed38cf60a.min.js"></script></div>

<div style="width:320px">
<%= javascript_include_tag "urx", "data-turbolinks-track" %>
</div>
